.wrapper {
  background: #eb2e45;
  padding: 6px;
  position: relative;
}

.flex_wrapper {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  gap: 30px;
}

.flex_wrapper p,
span,
a {
  color: white;
}
